#infoPanel {
	text-align: center;
}


#infoTitle {
	font-weight: bold;
	font-size:	200%;

}

.infoText {
	font-size: 125%;
}

.col {
	display: inline-block;
	width:33%;
}


#widgetSettings {
	font-size: 150%;
}